.team-member {
	margin-top: 20px;
	margin-bottom: 0;
}

.profile-picture.animated {
	opacity: 0;
}

.team-member .profile-picture {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-moz-background-clip: border;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	overflow: hidden;
	max-width: 100px;
	width: 100%;
	height: 100px;
	margin: 0 auto;
	position: relative;
}

.team-member h3 {
  text-align: center;
}

.team-member h4 {
  text-align: center;
}

figure {
	margin: 0;
}

.stamp {
	height: 50px;
	width: 350px;
	position: relative
}
.stamp span {
	display: block;
	position: absolute;
	width: 350px;
}
.stamp img {
	height: 100px;
	padding-left: 150px;
	padding-top: 15px;
	transform:rotate(-15deg);
	-ms-transform:rotate(-15deg); 	/* IE 9 */
	-moz-transform:rotate(-15deg); 	/* Firefox */
	-webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
	-o-transform:rotate(-15deg);
}

.videoWrapper {
	margin-top: 20px;
}

.homepage-calendar {
	margin-top: 30px;
}
.homepage-bg {
	width: 100%;
	background:-webkit-linear-gradient(#fff, #eee 50%,#ddd); 
	background:url(../static/media/util/bg.jpg) no-repeat 95% 50%; 
}
