{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block main %}
{% blocktrans %}
<p><a class="btn btn-warning btn-lg btn-block" href="#">Things you should know</a></p>
<p></p>
<div class="homepage-bg">
<div class="col-md-9 left">
<div align="center" class="videoWrapper">
<iframe width="600" height="400" src="http://www.youtube.com/embed/9_jzHW7tF14" frameborder="0" allowfullscreen=""></iframe>
</div>
</div>
<div class="col-md-3 right">
<div class="homepage-calendar">
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>校园行</th>
      <th>第四期</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">
      <td>Time</td>
      <td>Oct 12 @ 3pm~5pm</td>
    </tr>
    <tr class="success">
      <td>Place</td>
      <td>UW campus, classroom TBD</td>
    </tr>
    <tr class="danger">
      <td>Speaker</td>
      <td>Xiaoyu Shi, Xiao Liang, Leon Liu</td>
    </tr>
    <tr class="warning">
      <td>Topic</td>
      <td>Want a job? Come and you'll never regret!</td>
    </tr>
    <tr class="active">
      <td>Bounus</td>
      <td>Stay tuned!</td>
    </tr>
  </tbody>
</table> 
</div>
</div>
</div>
{% endblocktrans %}
{% endblock %}
